<body>

    <div class="header-container">
        <div class="header-logo"></div>
    </div>

    <div class="menu-container">
        <p-menubar
            [model]="items"
            styleClass="main-menu">

            <ng-template pTemplate="end">
                <div class="menu-user">
                    <a routerLink="/login" class="menu-user">
                        <i class="pi pi-user"></i>
                        <span>Iniciar sesión</span>
                    </a>
                </div>
            </ng-template>

        </p-menubar>
    </div>

    <div class="radio-container">
        <div class="footer-radio">
            <div class="radio-player">

                <div class="radio-player-header">
                    <div class="radio-icon">
                        <i class="pi pi-volume-up"></i>
                    </div>

                    <div>
                        <strong>Radio Universitaria</strong>
                        <span>Transmisión en vivo</span>
                    </div>
                </div>

                <audio
                    class="radio-audio"
                    controls
                    preload="none">

                    <source
                        src="https://stream9.mexiserver.com/8410/stream"
                        type="audio/mpeg">

                    Tu navegador no soporta el reproductor de audio.
                </audio>

                <div class="radio-status">
                    <span class="radio-status-dot"></span>
                    <span>En vivo</span>
                </div>

            </div>
        </div>
    </div>

    <aside class="sidebar-card">

        <div class="sidebar-title">
            <span>Revistas UAS</span>
        </div>

        <p-megamenu
            [model]="itemsV"
            orientation="vertical"
            styleClass="side-mega-menu">

            <ng-template #item let-item>

                <a
                    [href]="item.url"
                    [target]="item.target || '_self'"
                    class="mega-item"
                    [title]="item.label"
                    (mouseenter)="mostrarImagenGrande(item)"
                    (mouseleave)="ocultarImagenGrande()">

                    @if (item.image) {
                        <img
                            [src]="item.image"
                            [alt]="item.label"
                            class="menu-image">
                    }
                    @else {
                        <i
                            [class]="item.icon"
                            class="menu-icon-xl">
                        </i>
                    }

                </a>

            </ng-template>

        </p-megamenu>

    </aside>

    <main class="content-container">

        <div class="router-page">
            <router-outlet></router-outlet>
            <app-chatbot></app-chatbot>
        </div>

       <app-sitios-interes></app-sitios-interes>

    </main>

    <aside class="sidebar-card-right">

        <div class="sidebar-title">
            <span>Index</span>
        </div>

        <p-megamenu
            [model]="itemsVRight"
            orientation="vertical"
            styleClass="side-mega-menu">

            <ng-template #item let-item>

                <a
                    [href]="item.url"
                    [target]="item.target || '_self'"
                    class="mega-item"
                    [title]="item.label"
                    (mouseenter)="mostrarImagenGrande(item)"
                    (mouseleave)="ocultarImagenGrande()">

                    @if (item.image) {
                        <img
                            [src]="item.image"
                            [alt]="item.label"
                            class="menu-image">
                    }
                    @else {
                        <i
                            [class]="item.icon"
                            class="menu-icon-xl">
                        </i>
                    }

                </a>

            </ng-template>

        </p-megamenu>

    </aside>

    <footer class="site-footer">

    <div class="footer-container">

        <div class="footer-section">

            <div class="footer-logo"></div>

            <h2>Biblioteca Central UAS</h2>

            <p>Universidad Autónoma de Sinaloa</p>

            <p class="footer-description">
                Espacio dedicado al acceso, consulta y difusión
                de recursos de información para la comunidad
                universitaria.
            </p>

        </div>

        <div class="footer-section">

            <h3>Enlaces rápidos</h3>

            <ul>
                <li>
                    <a href="#">
                        <i class="pi pi-angle-right"></i>
                        <span>Misión y Visión</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="pi pi-angle-right"></i>
                        <span>Historia de la UAS</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="pi pi-angle-right"></i>
                        <span>Organigrama</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="pi pi-angle-right"></i>
                        <span>Servicios</span>
                    </a>
                </li>
            </ul>

        </div>

        <div class="footer-section">

            <h3>Servicios</h3>

            <ul>
                <li>
                    <a href="#">
                        <i class="pi pi-angle-right"></i>
                        <span>Hemeroteca</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="pi pi-angle-right"></i>
                        <span>Cubículos</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="pi pi-angle-right"></i>
                        <span>Auditorio</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="pi pi-angle-right"></i>
                        <span>Área Virtual</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="pi pi-angle-right"></i>
                        <span>Formación de Usuarios</span>
                    </a>
                </li>
            </ul>

        </div>

        <div class="footer-section">

            <h3>Contacto</h3>

            <div class="footer-contact">

                <div>
                    <i class="pi pi-map-marker"></i>

                    <span>
                        Calz. de las Américas Nte. 2771,
                        Cd. Universitaria, Burócrata,
                        80030 Culiacán Rosales, Sin.
                    </span>
                </div>

                <div>
                    <i class="pi pi-phone"></i>

                    <span>
                        (667) 713 7832
                    </span>
                </div>

                <div>
                    <i class="pi pi-clock"></i>

                    <span>
                        Lunes a viernes 8:00 AM - 7:30 PM
                    </span>
                </div>

            </div>

            <div class="footer-social">

                <a
                    href="https://www.facebook.com/dgbuas"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Facebook">

                    <i class="pi pi-facebook"></i>

                </a>

            </div>

        </div>

    </div>

    <div class="footer-bottom">

        <div class="footer-bottom-container">

            <span>
                © 2026 Biblioteca Central UAS
            </span>

            <div class="footer-bottom-links">

                <a href="#">
                    Privacidad
                </a>

                <a href="#">
                    Contacto
                </a>

            </div>

        </div>

    </div>

</footer>

    @if (imagenHover()) {

        <div
            class="imagen-preview-overlay"
            (mouseenter)="mantenerImagenGrande()"
            (mouseleave)="ocultarImagenGrande()">

            <div class="imagen-preview-container">

                <img
                    [src]="imagenHover()"
                    class="imagen-preview"
                    alt="" />

            </div>

        </div>

    }

</body>
